.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div {
  background-color: #ffffff;
  width: 1280px;
  height: 2577px;
  position: relative;
}

.homepage .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage .frame-2 {
  display: flex;
  width: 1280px;
  align-items: center;
  padding: 0px 0px 0px 40px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-3 {
  display: flex;
  flex-direction: column;
  width: 609px;
  align-items: center;
  gap: 212px;
  position: relative;
}

.homepage .frame-4 {
  position: relative;
  width: 477px;
  height: 398px;
  gap: var(--spacing-space3);
}

.homepage .visualization-data {
  position: absolute;
  width: 433px;
  top: 29px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper {
  color: #1f3155;
}

.homepage .span {
  color: #f7cb01;
}

.homepage .p {
  position: absolute;
  width: 477px;
  top: 203px;
  left: 0;
  font-family: var(--normal-text-font-family);
  font-weight: var(--normal-text-font-weight);
  color: var(--foundationbluedark-active);
  font-size: var(--normal-text-font-size);
  letter-spacing: var(--normal-text-letter-spacing);
  line-height: var(--normal-text-line-height);
  font-style: var(--normal-text-font-style);
}

.homepage .scroll-button {
  display: flex;
  width: 273px;
  align-items: center;
  gap: var(--spacing-space5);
  position: absolute;
  top: 348px;
  left: 0;
}

.homepage .frame-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .frame-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: #95214c;
  border-radius: 25px;
}

.homepage .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--button-text-font-family);
  font-weight: var(--button-text-font-weight);
  color: #ffffff;
  font-size: var(--button-text-font-size);
  letter-spacing: var(--button-text-letter-spacing);
  line-height: var(--button-text-line-height);
  font-style: var(--button-text-font-style);
}

.homepage .flat-color-icons {
  position: relative;
  width: 16px;
  height: 16px;
}

.homepage .presented-by-fathan {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-3 {
  color: #95214c;
}

.homepage .text-wrapper-4 {
  color: #b93457;
}

.homepage .home-picts {
  position: relative;
  width: 632.42px;
  height: 832px;
}

.homepage .table-of-content {
  display: flex;
  flex-direction: column;
  width: 1279px;
  align-items: flex-start;
  gap: 10px;
  padding: 50px 102px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f7cb01;
}

.homepage .frame-6 {
  display: flex;
  flex-direction: column;
  width: 1066.75px;
  height: 326.07px;
  align-items: flex-start;
  gap: var(--spacing-space3);
  position: relative;
}

.homepage .frame-7 {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.homepage .frame-8 {
  display: flex;
  align-items: flex-start;
  gap: 12.43px;
  padding: 23.3px 19.42px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 19.42px;
  box-shadow: 0px 3.88px 3.88px #0000001a;
}

.homepage .group {
  position: relative;
  width: 65.25px;
  height: 65.95px;
}

.homepage .overlap {
  position: relative;
  width: 65px;
  height: 66px;
}

.homepage .rectangle {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.homepage .overlap-group-wrapper {
  position: absolute;
  width: 42px;
  height: 65px;
  top: 1px;
  left: 10px;
}

.homepage .overlap-group {
  position: relative;
  height: 65px;
}

.homepage .ellipse {
  position: absolute;
  width: 23px;
  height: 22px;
  top: 11px;
  left: 10px;
  background-color: var(--secondary);
  border-radius: 11.51px/11.1px;
}

.homepage .img {
  position: absolute;
  width: 42px;
  height: 65px;
  top: 0;
  left: 0;
}

.homepage .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.43px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -0.78px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .text-wrapper-6 {
  position: relative;
  width: 405.48px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #787575;
  font-size: 15.5px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .maki-soccer {
  position: relative;
  width: 68.71px;
  height: 68.71px;
}

.homepage .ellipse-wrapper {
  position: relative;
  width: 46px;
  height: 69px;
  left: 14px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.homepage .ellipse-2 {
  position: relative;
  width: 11px;
  height: 11px;
  top: 49px;
  left: 32px;
  background-color: #fd983a;
  border-radius: 5.27px;
}

.homepage .frame-10 {
  margin-right: -0.09px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.43px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -0.78px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 15.3px;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .openmoji-soccer-ball {
  position: relative;
  width: 72px;
  height: 72px;
}

.homepage .frame-11 {
  margin-right: -3.38px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.43px;
  position: relative;
  flex: 0 0 auto;
}

.homepage .group-wrapper {
  position: relative;
  width: 65.25px;
  height: 65.25px;
}

.homepage .div-wrapper {
  width: 65px;
  height: 65px;
}

.homepage .img-wrapper {
  position: relative;
  height: 65px;
  background-color: #ffffff;
}

.homepage .group-2 {
  position: absolute;
  width: 40px;
  height: 47px;
  top: 9px;
  left: 13px;
}
.homepage .data{
  position: relative;
  margin-top: 1260px;
  left: -0px;
}
.homepage .text-wrapper-8 {
  position: absolute;
  width: 775px;
  top: 1626px;
  left: 249px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--foundationbluedark-active);
  font-size: 70px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.homepage .overlap-wrapper {
  position: absolute;
  width: 1280px;
  height: 472px;
  top: 2105px;
  left: 0;
  background: linear-gradient(180deg, rgb(148, 33, 76) 0%, rgb(248.09, 129.29, 173.71) 97.46%);
}

.homepage .overlap-2 {
  position: relative;
  height: 372px;
}

.homepage .vector {
  position: absolute;
  width: 284px;
  height: 229px;
  top: 144px;
  left: 0;
}

.homepage .vector-2 {
  position: absolute;
  width: 255px;
  height: 262px;
  top: 0;
  left: 1025px;
}

.homepage .frame-12 {
  display: flex;
  width: 1280px;
  height: 482px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.homepage .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #f7cb01;
  font-size: 45px;
  letter-spacing: 0;
  line-height: normal;
}
